<%- include('header.ejs') %>

<h1 class="title">Bienvenu sur le moodle supérieur des WebApps</h1>
<a href="/courses">Voir vos cours</a>
<a href="/students">Voir la liste des étudiants</a>

<%- include('footer.ejs') %>